DATABASE_URL="file:./data/mailbox.db"
APP_API_KEY="please-change-me"
MS_TOKEN_ENDPOINT="https://login.microsoftonline.com/common/oauth2/v2.0/token"
MS_AUTHORIZE_ENDPOINT="https://login.microsoftonline.com/common/oauth2/v2.0/authorize"
MS_CLIENT_ID=""
MS_REDIRECT_URI="http://localhost:3000/api/oauth/microsoft/callback"
MS_GRAPH_SCOPE="offline_access Mail.Read"
MS_IMAP_SCOPE="https://outlook.office.com/IMAP.AccessAsUser.All offline_access"
MS_IMAP_HOST="outlook.office365.com"
MS_IMAP_PORT="993"
